# git
.git
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variable files
.env
.env.*

# VS Code settings
.vscode/
*.code-workspace

# Logs
*.log

# Sessions
*.session
*.session-journal

# lab
lab.py
lab.json
xmplus.json